---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Badly Typed" description="Come with me fellow type astronaut, adventure awaits!" type="website">
  <div>
    <h1>Euston, we have liftoff!</h1>
    <p>Welcome type astronaut!</p>
  </div>
</MainLayout>
