{% extends "_base.html" %}
{% block meta %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ config.extra.host ~ "/" ~ page.path }}"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:image" content=""/>
<meta property="og:locale" content="en_GB"/>
<meta property="og:updated_time" content="{{ page.date }}"/>
{% endblock meta %}
{% block title %}_{{page.title | slugify}}{% endblock title %}

{% block content %}
<h1>{{ page.title }}</h1>
<p>
Reading time is 
  {% if page.reading_time < 1 %}
    less then a minute
  {% else %}
    {{ page.reading_time }} minutes
  {% endif %}
</p>

  {{ page.content | safe }}
{% endblock content %}
