{% extends "_base.html" %}
{% block meta %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ section.permalink }}"/>
<meta property="og:title" content="{{ section.title }}"/>
<meta property="og:description" content="{{ section.description }}"/>
<meta property="og:image" content=""/>
<meta property="og:locale" content="en_GB"/>
{% endblock meta %}

{% block title %}_{{section.title | slugify}}{% endblock title %}

{% block content %}
  {{ section.content | safe }}
  <h2>Latest</h2>
  <ul class="P(0) List(n)">
      {% for page in section.pages | sort(attribute="date") | reverse %}
      <li>
          <a href="{{ page.permalink }}">{{ page.date ~ " / " ~ page.title }}</a>
          <p class="H(6.5ex) Ov(h) Tov(e)">{{ page.summary | striptags | safe }}</p>
      </li>
      {% endfor %}
  </ul>
{% endblock content %}
