---

---
<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <div class="grid grid-flow-col gap-4">
    <a class="link link-hover">Contact</a> 
    <a class="link link-hover">CV</a> 
    <a class="link link-hover">Blog</a> 
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="https://github.com/lukecollier">github</a>
    <a class="link link-hover" href="https://mull.dev">mull.dev</a>

</a> 
    </div>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by Luke Collier</p>
  </div>
</footer>
